<!DOCTYPE html>
<html lang ="en">
	<head>
		<title>Literate-Spoon</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="script.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="public/css/styel.css">
	</head>

	<body>
		<div>
			<div>
				<nav class="header-container" role="navigation" style="padding-left:130px;">
					<ul class ="nav navbar-nav">
						<li class="dropdown">
    						<button class="btn btn primary dropdown-toggle" type="button" data-toggle="dropdown"> Dropdown Menu <span class="caret"></span></button>
    						<ul class="dropdown-menu">
    							<li><a href="#">Option 1</a></li>
    							<li><a href="#">Option 2</a></li>
    							<li><a href="#">Option 3</a></li>
    						</ul>
  						</li>
						<li><input type="text" name="search" placeholder="Search..."></li>
						<li><a href="/addeventpage">Add</a><li>
						<li><a href="/profilepage.html">Profile</a></li>
					</ul>
				</nav>
			</div>
			<div>
    			<ul>
      				<li><a href="#anylink">Events</a></li>
      				<li><a href="#anylink">Hosts</a></li>
    			</ul>
			</div>
		</div>
	</body>
</html>
