<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <title>Literate-Spoon</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <!-- <button class="btn btn-default dropdown-toggle" type="button"	data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   						  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  						</button> -->
                    <a class="btn btn-default" href="/filterpage">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                </li>

                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="🔎 Search">
                        </div>
                    </form>
                </li>
                <li>
                    <a class="btn btn-default" href="/addeventpage">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </li>

                <li>
                    <a class="btn btn-default" href="/profilepage">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- <div class="container"> -->

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/">Events</a></li>
        <li role="presentation" class="active"><a href="/hostlist">Hosts</a></li>
    </ul>
    <!-- </div> -->

    <div class="g-grid">
            <section class="1-pad-bot-5 1-sm-pad-bot-3">
    
                <div class="js-popular-events">
                    <div class="js-events-list">
                        {{#each hosts}}
                        <div class="g-cell g-cell--has-overflow g-cell-1-1 g-cell-md-1-2-g-cell-lg-1-3 1-pad-vert-3">
                            <div class="poster-card js-d-poster" data-share-url="#" data-share-name="#">
                                <a href="#" class="poster-card__mainjs-event-link" data-type="hosts" data-rank="0" data-eid="26339217308" data-automation="event-card">
                                    <div class="poster-card__header">
                                        <div class="poster-card__image">
                                            <img class="img-responsive" src="{{img}}" alt="">
                                        </div>

                                    </div>
                                    <div class="poster-card__body">
                                        <div class="">
                                            {{hostname}}
                                        </div>
                                    </div>
                                </a>
                            </div>      
                        </div>
                        {{/each}}
                    </div>
                </div>
            </section>
    </div>

        <!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
</body>

</html>