<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Literate-Spoon</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--    <link href="css/spacelab.css" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">

    <!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script language="JavaScript" type="text/javascript">
        function login(showhide) {
            if (showhide == "show") {
                document.getElementById('popupbox').style.visibility = "visible";
            } else if (showhide == "hide") {
                document.getElementById('popupbox').style.visibility = "hidden";
            }
        }
    </script>

</head>
<header>
    <div class="custom-container">
        <div class="navigationbar-flex navbar-default">
            <div class="flexleft">
                <a class="navigationbar-item" href="">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
            </div>
            <form class="search-form flexleft">
                <input type="text" class="search-box" placeholder="Search">
            </form>
            <div class="flexright">
                <a class="navigationbar-item btn btn-default" href="javascript:login('show')">
                    <span>Login</span>
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                </a>
                <div id="popupbox">
                    <form name="login" action="" method="post">
                        <center>Username:</center>
                        <center>
                            <input name="username" size="14">
                        </center>
                        <center>Password:</center>
                        <center>
                            <input name="password" type="password" size="14">
                        </center>
                        <center><a href="/indexin">Submit</a></center>
                        <center><a href="javascript:login('hide')">Close</a></center>
                    </form>
                </div>
                <a class="navigationbar-item" href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="flexbox flex-tabs">
            <a href="">
                <div class="active">Events</div>
            </a>
            <a href="">
                <div>Hosts</div>
            </a>
        </div>

        <!--    <ul class="nav nav-tabs nav-justified">-->
        <!--
    <ul class="">
        <li role="presentation" class="active"><a href="/">Events</a></li>
        <li role="presentation"><a href="/hostlist">Hosts</a></li>
    </ul>
-->

    </div>
</header>
<div class="container">

    <!--
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="/">Events</a></li>
        <li role="presentation"><a href="/hostlist">Hosts</a></li>
    </ul>
-->

    <main class="main" role="main">
        <div class="submain">
            <section class="eventfeed" role="region">
                <!--<h3 class="YourEventFeed"> Your Event Feed</h3>-->
                <div aria-readonly="true" class="ActualEventFeed" aria-label="Event Timeline: Your Event Timeline" role="grid">
                    <div role="rowgroup">
                        <div style="padding-bottom: 0px;">
                            <div style="padding-top: 0px; padding-bottom: 400px;">
                                <div></div>
                                <div class="row-bottom-margin" role="row">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                            <td><a href="/eventpage">Event</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Date | Time | Location</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row-bottom-margin" role="row">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                            <td><a href="/eventpage">Event</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Date | Time | Location</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row-bottom-margin" role="row">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                            <td><a href="/eventpage">Event</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Date | Time | Location</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row-bottom-margin" role="row">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                            <td><a href="/eventpage">Event</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Date | Time | Location</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row-bottom-margin" role="row">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                            <td><a href="/eventpage">Event</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Date | Time | Location</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row-bottom-margin" role="row">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                            <td><a href="/eventpage">Event</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Date | Time | Location</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>




</body>

</html>