<!DOCTYPE html PUBLIC "-WAPFORUM/DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml">
	<head>
	<meta charset="UTF-8">
		<meta http-equiv= "Content-Type" content="text/html; charset=utf-8"/>
		<title> literate-spoon </title>
		<div > <img src="" alt="Menu" style="width:50px;height:50px;"></div>
		<div> Search bar goes here</div>
		<div> <img src="" alt="Plus" style="width:50px;height:50px;"></div>
		<div> <img src="" alt="HappyFace" style=""></div>
		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		
		<!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>

