<!DOCTYPE html PUBLIC "-WAPFORUM/DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml">
	<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

		<title>Literate-Spoon</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="script.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv= "Content-Type" content="text/html; charset=utf-8"/>
		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div>

			<div class="navbar-container"> <!-- style="padding-left:130px;" -->
				<ul id="navbar">
					<div class="dropdown">
  						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
  							data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   						 	<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  						</button>
  						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    						<li><a href="#">Action</a></li>
    						<li><a href="#">Another action</a></li>
    						<li><a href="#">Something else here</a></li>
    						<li role="separator" class="divider"></li>
    						<li><a href="#">Separated link</a></li>
  						</ul>
					</div>

					<li id="searchBar"><input type="text" name="search" placeholder="Search..."></li>

					<li id="addEventButton">
						<button type="button" class="btn btn-default">
							<a href="/addeventpage"></a>
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</li>

					<li id="profileButton">
						<button type="button" class="btn btn-default">
							<a href="/profilepage.html"></a>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</button>
					</li>

				</ul>
			</div>

			<div><p>testhelp</p></div>

			<div>
    			<ul>
      				<li><a href="#anylink">Events</a></li>
      				<li><a href="#anylink">Hosts</a></li>
    			</ul>
			</div>

		</div>

		</div>
		<!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.s"></script>
	</body>
</html>