<!DOCTYPE html PUBLIC "-WAPFORUM/DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml">
	<head>
	<meta charset="UTF-8">
		<meta http-equiv= "Content-Type" content="text/html; charset=utf-8"/>
		<title> literate-spoon </title>
		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div class="topbar">
			<div>Search</div>
			<div>Plus</div>
			<div>HappyFace</div>
		</div>

		<div id="wrap">
			<div>
				<li>
					<div>Event 1 </div>
				</li>
				<li>
					<div> Event 2 </div>
				</li>
				<li>
					<div> Event 3 </div>
				</li>
			</div>
		</div>


		<!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.s"></script>
	</body>
</html>

