<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Literate-Spoon</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--    <link href="css/spacelab.css" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">

</head>
<div class="custom-container">
    <div class="navigationbar-flex navbar-default">
        <div class="navigationbar-flexleft">
            <a class="navigationbar-item" href="">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <!--
            <a class="navigationbar-item" href="">
                <i class="fa fa-caret-down" color:black></i>
            </a>
-->
        </div>
        <form class="search-form">
            <input type="text" class="search-box" placeholder="Search">
        </form>
        <div class="navigationbar-flexright">
            <a class="navigationbar-item" href="">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <a class="navigationbar-item" href="">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
            <a class="navigationbar-item" href="">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </div>
    </div>

</div>


<div class="container">


    <body>
        <main class="main" role="main">
            <div class="submain">
                <section class="eventfeed" role="region">
                    <!--<h3 class="YourEventFeed"> Your Event Feed</h3>-->
                    <div aria-readonly="true" class="ActualEventFeed" aria-label="Event Timeline: Your Event Timeline" role="grid">
                        <div role="rowgroup">
                            <div style="padding-bottom: 0px;">
                                <div style="padding-top: 0px; padding-bottom: 400px;">
                                    <div></div>
                                    <div class="row-bottom-margin" role="row">
                                        <table>
                                            <tr>
                                                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                                <td><a href="/eventpage">Event</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date | Time | Location</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row-bottom-margin" role="row">
                                        <table>
                                            <tr>
                                                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                                <td><a href="/eventpage">Event</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date | Time | Location</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row-bottom-margin" role="row">
                                        <table>
                                            <tr>
                                                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                                <td><a href="/eventpage">Event</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date | Time | Location</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row-bottom-margin" role="row">
                                        <table>
                                            <tr>
                                                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                                <td><a href="/eventpage">Event</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date | Time | Location</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row-bottom-margin" role="row">
                                        <table>
                                            <tr>
                                                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                                <td><a href="/eventpage">Event</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date | Time | Location</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row-bottom-margin" role="row">
                                        <table>
                                            <tr>
                                                <td rowspan="2"><img src="images/{{image}}" class="image"></td>
                                                <td><a href="/eventpage">Event</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date | Time | Location</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</div>

<!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</body>

</html>