<!DOCTYPE html PUBLIC "-WAPFORUM/DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

	</head>
		<title>Report Page</title>
	<body>
		<div class="navbar-container"> <!-- style="padding-left:130px;" -->
				<ul id="navbar">
					<div class="dropdown">
  						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
  							data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   						 	<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  						</button>
  						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    						<li><a href="#">Action</a></li>
    						<li><a href="#">Another action</a></li>
    						<li><a href="#">Something else here</a></li>
    						<li role="separator" class="divider"></li>
    						<li><a href="#">Separated link</a></li>
  						</ul>
					</div>

					<li id="searchBar"><input type="text" name="search" placeholder="Search..."></li>

					<li id="addEventButton">
						<button type="button" class="btn btn-default">
							<a href="/addeventpage"></a>
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</li>

					<li id="profileButton">
						<button type="button" class="btn btn-default">
							<a href="/profilepage.html"></a>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</button>
					</li>

				</ul>
			</divsss	</body>
</html>
