/*
body {
    padding-top: 60px;
}
*/

.navigationbar-flex {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 0.75rem 15px 0.75rem 15px;
    margin-right: 0;
    margin-left: 0;
/*    margin: 1.5rem;*/
/*    padding: 10px 0px 15px 0px */
/*        top right bottom left*/
}

.navigationbar-flexleft {
    justify-content: flex-start;
}
.navigationbar-flexright {
    justify-content: flex-end;
}

.navigationbar-item {
    flex-shrink: 0;
    margin: 0 .55rem;
}
.search-form{
    padding: 0 1rem 0 1rem;
    flex-grow: 1;
    min-width: 6rem;
}

.search-box {
  width: 100%;  
  padding: .4rem;
/*  background-color: #ffb;*/
}

/*
.container > div .navigationbar-flex{
    padding-right: 0px;
  padding-left: 0px;
}
*/

.custom-container {
/*
  padding-right: 15px;
  padding-left: 15px;
*/
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .custom-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .custom-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .custom-container {
    width: 1170px;
  }
}