body {
	padding-top:50px;
}

.container .jumbotron {
	border-radius:40px; 
}

header {
	min-height: 100px;
	max-height: 16%;
	/*background-color: blue;*/

	/*#ff0000*/
}

.topbar {
	min-height: 100px;
	height: 50S%;
	background-color: darkblue;

	display: flex;
	flex-direction: row;
}

.input[type=texst]{
	width:120px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 80%*/
input[type=text]:focus{
	width: 80%;
}

